body {
    font-family: poppins;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(207, 207, 207);
}

body::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
    border-radius: 10px;
}

p {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    color: #7a7a7a;
    line-height: 30px;
}

a {
    text-decoration: none !important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

button {
    border: none !important;
}

.main-button a {
    display: inline-block;
    background-color: #f48840;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all .3s;
}

.main-button a:hover {
    background-color: #fb9857;
}

.heading-page {
    padding-top: 110px;
}

.page-heading {
    margin: 0px 10px;
    padding: 120px 0px;
    text-align: left;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/heading-bg.jpg);
}

.page-heading .text-content h4 {
    color: #f48840;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

.page-heading .text-content h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Header Style */
header {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: #f7f7f7;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header .navbar {
    padding: 25px 0px;
}

.background-header .navbar {
    padding: 17px 0px;
}

.background-header {
    top: 0;
    height: 80px;
    position: fixed;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.background-header .navbar-nav a.nav-link {
    color: #1e1e1e !important;
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
    color: black !important;
}

.navbar .navbar-brand {
    float: left;
    outline: none;
    margin-top: -20px;
}

#navbarResponsive {
    z-index: 999;
    margin-top: -20px;
}

.navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #1e1e1e;
    transition: all 0.3s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: black;
}

.navbar .navbar-toggler-icon {
    background-image: none;
}

.navbar .navbar-toggler {
    color: black !important;
    height: 46px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    border: none;
    right: 30px;
    top: 25px;
    border: none !important;
    outline: none !important;
}

.navbar .navbar-toggler:focus {
    border: none !important;
    outline: none !important;
}

.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: black;
    border: none;
    font-size: 30px;
    line-height: 30px;
    font-family: 'FontAwesome';
    outline: none !important;
    border: none !important;
}

.navbar-toggler-icon:focus {
    border: none;
}

.call-to-action {
    margin-top: 150px;

}

.call-to-action .main-content {
    padding: 40px;
    background-image: url(../images/cta-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.call-to-action .main-content span {
    color: #f48840;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.call-to-action .main-content h4 {
    margin-bottom: 0px;
    margin-top: 12px;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.25px;
}

.call-to-action .main-content .main-button {
    text-align: right;
    margin-top: 12px;
    border-radius: 5px;
}

.cat {
    width: 90%;
    min-height: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.cat div {
    display: inline-block;
    padding: 8px 15px;
    border: thin solid #f48840;
    border-radius: 10px;
    text-wrap: nowrap;
    margin: auto;
    margin: 5px 10px;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    color: black;
}
.cat div:hover{
    transform: scale(1.1);
    font-weight: 600;
}
footer {
    margin-top: 100px;
    text-align: center;
    background-color: #20232e;
    padding: 60px 0px;
}

footer ul.social-icons {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.15);
}

footer ul.social-icons li {
    display: inline-block;
    margin-right: 30px;
}

footer ul.social-icons li:after {
    content: "|";
    color: #fff;
    margin-left: 30px;
}

footer ul.social-icons li:last-child {
    margin-right: 0px;
}

footer ul.social-icons li:last-child::after {
    display: none;
}

footer ul.social-icons li a {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.25px;
    transition: all .3s;
}

footer ul.social-icons li a:hover {
    color: #f48840;
}

footer p {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}

footer p a {
    color: #f48840;
}

footer p a:hover {
    color: #f48840;
}