<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <title>Ruminate | Daily blog | Inspiration</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">

    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">


    <link rel="stylesheet" href="{{url_for('static', filename='css/blog.css')}}">

</head>

<body>

    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='images/ruminate.png')}}"
                        alt="Ruminate"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/category">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact/ruminate">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus/ruminate">About</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>


    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="row">
                            <div class="col-lg-8">
                                <span>Ruminate Blog Home</span>
                                <h4>Create and publish your Blog</h4>
                            </div>
                            <div class="col-lg-4">
                                <div class="main-button">
                                    <a href="/register">Create An Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="{{blog[0][11]}}" alt="{{blog[0][12]}}">
                                    </div>
                                    <div class="down-content">
                                        <span>{{blog[0][10][1]}}</span>
                                        <a>
                                            <h4>{{blog[0][6]}}</h4>
                                        </a>
                                        <ul class="post-info">
                                            <li><a href="#">{{blog[0][9]}}</a></li>
                                            <li><a href="#">{{blog[0][1]}}</a></li>
                                            <li><a href="#comments">
                                                    Comments :
                                                    {% if hascomment < 1 %} 0 {% else %} {{hascomment}} {% endif %} </a>
                                            </li>
                                        </ul>

                                        <p class="blog_description">{{blog[0][7]|safe}}</p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li>
                                                            <div class="likes">{{blog[0][13]}}</div>
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </li>
                                                        <li>
                                                            <div class="deslike">{{blog[0][14]}}</div>
                                                            <i class="fa fa-thumbs-down fa-flip-horizontal"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item comments">
                                    <div class="sidebar-heading">
                                        <h2 id="comments">{{hascomment}} comments</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {% if hascomment > 0 %}
                                            {% for comments in comment %}
                                            <li>
                                                <div class="right-content">
                                                    <h4>{{comments[1].title()}}<span>{{comments[5]}}</span></h4>
                                                    <p>{{comments[3].lower()}}</p>
                                                </div>
                                            </li>
                                            {% endfor %}

                                            {% else %}
                                            <h1>No Comment Yet, Be the first to comment!</h1>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item submit-comment">
                                    <div class="sidebar-heading">
                                        <h2>Your comment</h2>
                                    </div>
                                    <div class="content">
                                        <form id="comment" action="#" method="post">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <fieldset>
                                                        <input name="name" type="text" id="name" placeholder="Your name"
                                                            required="">
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <fieldset>
                                                        <input name="email" type="text" id="email"
                                                            placeholder="Your email" required="">
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <textarea name="message" rows="6" id="message"
                                                            placeholder="Type your comment" required=""></textarea>
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <button type="submit" id="form-submit"
                                                            class="main-button">Submit</button>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    <div class="sidebar-heading">
                                        <h2>Recent Posts</h2>
                                    </div>
                                    <div class="content">
                                        {% for ele in recent[:4]%}
                                        <ul>
                                            <li><a href="/blog?author_id={{ele[8]}}&blog_title={{ele[6]}}">
                                                    <h5>{{ele[6]}}</h5>
                                                    <span>{{ele[1]}}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>Categories</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="/blog/category?category={{categories[0]}}">-
                                                    {{categories[0]}}</a></li>
                                            <li><a href="/blog/category?category={{categories[1]}}">-
                                                    {{categories[1]}}</a></li>
                                            <li><a href="/blog/category?category={{categories[2]}}">-
                                                    {{categories[2]}}</a></li>
                                            <li><a href="/blog/category?category={{categories[3]}}">-
                                                    {{categories[3]}}</a></li>
                                            <li><a href="/blog/category?category={{categories[4]}}">-
                                                    {{categories[4]}}</a></li>
                                            <li><a href="/blog/category?category={{categories[5]}}">-
                                                    {{categories[5]}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="social-icons">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Behance</a></li>
                        <li><a href="#">Linkedin</a></li>
                        <li><a href="#">Dribbble</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>Copyright 2024 Ruminate.

                            | Design: <a rel="nofollow" href="" target="_parent">ruminate</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function comment(name, email, message) {
        let time = new Date
        let month = time.getMonth() + 1
        month = month.toString()
        let day = time.getDate()
        day = day.toString()
        let hour = time.getHours()
        hour = hour.toString()
        let minute = time.getMinutes()
        minute = minute.toString()

        let fulltime = `${day.padStart(2, 0)}/${month.padStart(2, 0)}/${time.getFullYear()}, ${hour.padStart(2, 0)}:${minute.padStart(2, 0)}`

        fetch('/receive_comment/async', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: name,
                email: email,
                message: message,
                time: fulltime,
                blog_aut: '{{blog[0][8]}}',
                blog_tit: '{{blog[0][6]}}'
            })
        })
            .then(respose => respose.json())
            .then(data => {
                data = JSON.parse(data)
                if (data == true) {
                    window.location.reload()
                }
            })

    }

    document.getElementById('form-submit').addEventListener('click', (e) => {
        e.preventDefault()
        let name = document.getElementById('name').value
        let email = document.getElementById('email').value
        let message = document.getElementById('message').value

        if (name && email && message) {
            comment(name, email, message)
        }
    })
</script>

</html>