<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/changepassword.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="form-container">
        <div hidden id="email">{{email}}</div>
        <div hidden id="name">{{name}}</div>
        <div hidden id="pass">{{details}}</div>
        <div class="logo-container">
            Ruminate : New Password
        </div>

        <form class="form">
            <div class="form-group">
                <label for="email">Password</label>
                <input type="password" id="password" name="email" placeholder="Enter your new password" required
                    autofocus autocomplete="new-password">
                <input type="password" id="password2" name="email2" placeholder="Re-enter your new password" required>
            </div>

            <button class="form-submit-btn" type="submit" id="submit">Change Password</button>
        </form>
    </div>
</body>
<script>
    const firstpassword = document.getElementById('password')
    const secondpassword = document.getElementById('password2')
    document.getElementById('submit').addEventListener('click', (e) => {
        e.preventDefault()
        if (firstpassword.value.length >= 7) {
            if (firstpassword.value == secondpassword.value) {
                send(document.getElementById('email').innerHTML, secondpassword.value)
            } else {
                secondpassword.focus()
                secondpassword.value = ''
                secondpassword.placeholder = 'Passwords don\'t match.'
                firstpassword.style.border = '1px solid red'
                secondpassword.style.border = '1px solid red'
                secondpassword.style.transition = '.5s'
                index = 0
                setTimeout(() => {
                    secondpassword.placeholder = 'Re-enter your new password'
                    secondpassword.style.border = '1px solid #c0c0c0'
                    firstpassword.style.border = '1px solid #c0c0c0'
                    secondpassword.style.transition = '.5s'
                }, 2000);
            }
        }
        else {
            firstpassword.value = ''
            secondpassword.value = ''
            firstpassword.placeholder = 'Min 8 char @A1/.'
            firstpassword.style.border = '1px solid red'
            firstpassword.style.transition = '.5s'
            index = 0
            setTimeout(() => {
                firstpassword.placeholder = 'Enter your new password.'
                firstpassword.style.border = '1px solid #c0c0c0'
                firstpassword.style.transition = '.5s'
            }, 2000);
        }
    })

    function send(email, password) {
        fetch(`/newpassword?email=${email}&password=${password}`)
            .then(responce => responce.json())
            .then(data => {
                data = JSON.parse(data)
                if (data == false) {
                    firstpassword.value = ''
                    secondpassword.value = ''
                    firstpassword.placeholder = 'New password cannot be old password'
                    firstpassword.style.border = '1px solid red'
                    secondpassword.style.border = '1px solid red'
                    firstpassword.style.transition = '.5s'
                    index = 0
                    setTimeout(() => {
                        firstpassword.placeholder = 'Enter your new password.'
                        firstpassword.style.border = '1px solid #c0c0c0'
                        secondpassword.style.border = '1px solid #c0c0c0'
                        firstpassword.style.transition = '.5s'
                    }, 3000);
                } else {
                    console.log('changed successfully');
                }
            })
            .catch(err => console.log(err))
    }
</script>

</html>