<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/resetPasssword.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="dir">
        <a href="/">Home</a> / <a href="/login">Login</a> / Forgot Password
    </div>
    <div class="form-container">
        <div class="logo-container">
            Enter Verification Code
        </div>
        <p class="email" id="email">{{email}}</p>
        <form class="form">
            <div class="form-group">
                <input type="number" id="num1" autofocus>
                <input type="number" id="num2" disabled>
                <input type="number" id="num3" disabled>
                <input type="number" id="num4" disabled>
                <input type="number" id="num5" disabled>
                <input type="number" id="num6" disabled>
            </div>
        </form>

        <p class="signup-link">
            Don't have an account?
            <a href="/register" class="signup-link link"> Sign up now</a>
        </p>
    </div>
</body>
<script>
    const inputs = document.querySelectorAll('input');
        arr = ['num1', 'num2', 'num3', 'num4', 'num5', 'num6']

        inputs.forEach((input, index) => {
            input.addEventListener('input', (e) => {
                if (e.target.value !== '') {
                    if (index < inputs.length - 1) {
                        inputs[index + 1].disabled = false;
                        inputs[index + 1].focus()
                    } else {
                        let code = []
                        arr.forEach((el) => {
                            code.push(document.getElementById(el).value);
                        })
                        send(code, document.getElementById('email').innerHTML)
                    }
                }
            })

            input.addEventListener('keydown', (e) => {
                if (e.key === 'Backspace' && e.target.value === '') {
                    if (index >= 1) {
                        inputs[index - 1].focus()
                    }
                }
            })
            input.addEventListener('paste', function (e) {
                const pasteValue = e.clipboardData.getData('text');
                if (pasteValue.length == 6) {
                    setTimeout(() => {
                        Array.from(inputs).forEach((inp, ind) => {
                            inp.value = pasteValue[ind]
                            inp.disabled = true
                        })
                        let code = ''
                        arr.forEach((inp) => {
                            code += document.getElementById(inp).value
                        })
                        send(code, document.getElementById('email').innerHTML)
                    });
                } else {
                    setTimeout(() => {
                        Array.from(inputs).forEach((inp) => {
                            inp.value = null
                        })
                    });
                }
            })
        })

        function send(code, email) {
                fetch(`process?email=${email}&class=${code}`)
                    .then(response => response.json())
                    .then(data => {
                        data = JSON.parse(data)
                        if (data != false) {
                            window.location.href = `/changepassword?email=${data}`
                        }else{
                            alert('Wrong Verification Code')
                            num1.focus()
                            inputs.forEach((el) => {
                                el.value = null
                            })
                        }
                    })
                    .catch(error => console.log('Error :' + error))
            }
</script>

</html>